/* CSS Variables */

:root {
  --font-heading: serif;
  --font-body: "Libre Baskerville", serif;
  --background-color: #f6f4ef;
  --text-color: #393e46;
  --feature-color-light: #ffe9e3;
  --feature-color-dark: #dfd3c3;
  --box-shadow-light: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-heavy: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Global CSS */

body {
  background-color: var(--background-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  color: var(--text-color);
  font-family: var(--font-body);
}

/* Headings CSS */

h2 {
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 25px;
  text-align: center;
}

/* Navbar CSS */

.navbar {
  background-color: var(--feature-color-light);
  font-family: var(--font-body);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.navbar-collapse {
  display: flex;
  justify-content: space-around;
}
.nav-link {
  font-size: 20px;
  margin: 0 50px;
}

/* Buttons CSS */

.btn-reg {
  background-color: var(--feature-color-dark);
  border: 3px solid var(--feature-color-dark);
  box-shadow: var(--box-shadow-light);
  display: block;
  font-family: var(--font-body);
  font-size: 20px;
  margin: 50px auto;
}

.btn-reg:hover {
  border: 3px solid var(--feature-color-dark);
}

/* Home Page CSS */

.romarin-logo {
  display: block;
  margin: 150px auto 50px auto;
  width: 400px;
}
.image-carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.slides {
  display: flex;
  list-style: none;
  transition: transform 3s ease-in-out;
}
.slides li {
  margin: 0 20px;
}
.slides li img {
  border-radius: 20px;
  box-shadow: var(--box-shadow-light);
  height: 800px;
  opacity: 0.7;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--feature-color-light);
  color: var(--text-color);
  border: none;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* About Page CSS */

/* Portfolio Page CSS */

/* CV Page CSS */

/* Contact Page CSS */

/* Footer CSS */

footer {
  background-color: var(--feature-color-light);
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
}

.socials {
  color: var(--text-color);
  font-size: 30px;
}

/* Media Queries */
